html, body {
	margin: 0;
	height: 100%;
}

nav {
	top: 0;
	position: absolute;
	float: right;
	width: 100%;
	table-layout: fixed;
}

footer {
	width: 100%;
	bottom: 0;
	background-color: black;
	height: 80px;
}

.header-image {
	padding: 0;
	margin: 0;
	width: 100%;
	top: 0;
	left: 0;
}

.header-image img {
	left: 0;
	top: 0;
	width: 100%;
}

.pictures-and-info {
	height: 300px;
}

.facebook {
	height: 100%;
	width: 35%;
	float: right;
}

.fade-in {
	position: relative;
	width: 40%;
	height: 220px;
}

.fade-in img {
	position: absolute;
	left: 15%;
	top: 5%;
	height: 100%;
	width: auto;
}

.header-font{
	position: absolute;
	top: 20%;
	left: 5%;
	width: 20%;
	font-style: italic;
	font-family: "Helvetica";
}

#img-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 45%;
	height: 25%;
}

.nav-buttons {
	float: right;
	width: 55%;
	table-layout: fixed;
}

.link-button{
	margin: 0;
	padding: 0;
	display: inline;
	border-right: 1px solid #0059b3;
	font-family: "Helvetica";
	font-style: italic;
	list-style-type: none;
	text-decoration: none;
}

.link-button:last-child{
	border-right: none;
}

.links {
	font-size: 16px;
	text-decoration: none;
	padding-right: 8px;
	color: #0059b3;	
	text-align: center;
	margin: 0;
}

.main {
	margin-top: 3%;
}

.first-border {
	border-top: 1px solid #bbb;
	width: 100%;
}

.title-header {
	text-align: center;
}

.schedule-header-info{
	text-align: center;
}

.info {
	margin-left: 25%;
	width: 50%;
	text-align: center;
}

.schedule-title-info {
	color: #0059b3;	

}

.border {
	border-top: 1px solid black;
}

.bold-info {
	font-weight: bold;
}

.footer-nav {
	margin-left: 40%;
	display: inline-block;
}

.footer-links{
	color: #0059b3;
	padding-right: 8px;
	list-style-type: none;
	text-decoration: none;
	font-family: "Helvetica";
	font-style: italic;
	border-right: 1px solid #0059b3;
}

.footer-links:last-child{
	border-right: none;
}
